/* 
1.Posicionamiento
2.Modelo de caja
3.Tipografia
4.Visuales
5.Otros
*/
:root {
    /*Colores*/
    --bitcoin-orange: #f7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey-: #BABABA;
    --off-white: ##FAF8F7;
    --white: #FFFFFF;
    /*--linear-gradient: (207.8deg, #201E1C 16.69%, #F7931A 100%);*/
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;   
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}
.header--title-container {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    text-align: center;
    align-self: center;
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.header--title-container p {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 27rem;
    display: block;
    margin-top: 3.5rem;
    padding: 15px;
    background-color: white;
    width: 22.9rem;
    height: 4.8rem;
    /* Sombra */
    box-shadow: 0rem 0.4rem 0.8rem rgba( 89, 73, 30, 0.16);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span {
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-left: 1rem;
    background-image: url('./assets/icons/Vector.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);

}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    text-align: center;
}
.main-exchange-container--title {
    width: 80%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin: 0 auto;
}
.main-exchange-container .background-img {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-image: url(./assets/imgs/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2 {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black-);
}
.main-exchange-container p {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-tables-container {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-tables-container::-webkit-scrollbar {
    width: 5px;
    color: var(--bitcoin-orange);
}
.main-tables-container::-webkit-scrollbar-thumb {
    color: var(--bitcoin-orange);
}
.main-currency-table {
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    height: 36rem;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    scroll-snap-align: center;  
}
.main-commission-table {
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    height: 36rem;
    margin: 0 auto;
    margin-top: -20px;
    font-family: "Inter", sans-serif;
    scroll-snap-align: center;
}
.main-currency-table .currency-table--title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.main-commission-table .commission-table--title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-top: 2rem;
    color: var(--secondary-blue);
}
.currency-table--container, .commission-table--container {
    width: 90%;
    min-width: 23rem;
    max-height: 30rem;
    height: 25rem;
    margin: 0 auto;
}
.currency-table--container table, .commission-table--container table {
    width: 100%;
    height: 100%;
}
.currency-table--container td, .commission-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 50rem;
    color: var(--grey-);
    background-color: var(--white);
}
.currency-table--container .table__top-left, .commission-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right, .commission-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left, .commission-table--container .bottom-left {
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right, .commission-table--container .bottom-right {
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__right, .commission-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-image: url('./assets/icons/trending-down\ 1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-image: url('./assets/icons/trending-up\ 1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-date {
    margin: 3rem auto 3rem auto; 
    background-color: var(--soft-orange);
    width: 80%;
    height: 4.3rem;
    padding: 8px;
    border-radius: 10px;
}
.commission-table-date {
    margin: 3rem auto 3rem auto; 
    background-color: var(--soft-blue);
    width: 80%;
    height: 4.3rem;
    padding: 8px;
    border-radius: 10px;
}

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 2rem 1rem;
    background-color: var(--warm-black);
}
.product-detail--batata-logo {
    position: absolute;
    width: 4.2rem;
    height: 2.5rem;
    top: -1.1rem;
    left: calc(50% - 20px);
    background-image: url('./assets/icons/batata.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.product-detail--title {
    width: 90%;
    min-width: 28.8rem;
    height: auto;
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
}
.product-detail--title h2 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.product-detail--title p {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 15rem;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: var(--black);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.16);
}
.product-detail--card .clock {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
    background-image: url('./assets/icons/clock\ 1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .eye {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
    background-image: url('./assets/icons/eye\ 1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .dollar-sign {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
    background-image: url('./assets/icons/dollar-sign\ 1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .check-circle {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
    background-image: url('./assets/icons/check-circle\ 1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--white);
}
.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin-img-container {
    width: 100%;
    min-width: 32rem;
    height: 50vh;
    background-image: url('./assets/imgs/bitcoinbabyx4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.bitcoin-img-container h2 {
    padding-top: 6rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
    text-align: center;
}

.plans-container--slider {
    display: flex;
    height: 31.6rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--slider::-webkit-scrollbar {
    width: 5px;
    color: var(--bitcoin-orange);
}
.plans-container--slider::-webkit-scrollbar-thumb {
    color: var(--bitcoin-orange);
}
.main-plans-container {
    width: 100%;
    min-width: 320px;
    text-align: center;
    padding-bottom: 7rem;
    background-color: var(--off-white);
}
.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0% auto;
    margin-bottom: 5rem;
}
.plans--title h2 {
    padding-top: 5rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans--title p {
    padding-top: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 25rem;
    margin: 5rem 1rem 0;
    padding: 0 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba( 89, 73, 30, 0.16);
    background-color: var(--white);
}
.recommended {
    position: absolute;
    width: 12rem;
    height: 3.1rem;
    border-radius: 1rem;
    color: var(--white);
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    padding: 0.7rem;
    font-size: 1.2rem;
    font-family: ;
    left: calc(50% - 60px);
    top: -15px;
}
.plan-card--title {
    padding-top: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card--price {
    padding: 0.5rem 0;
    font-size: 5.2rem;
    font-weight: bold;
    color: var(--black);
    position: relative;
}
.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
    position: absolute;
    left: 35%;
    top: 18px;
}
.plan-card--saving {
    color: #757575;
    font-size: 1.2rem;
}
.plan-card--ca {
    width: 15rem;
    height: 4.8rem;
    margin-top: 2rem;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    outline: none;
}
/* .plan-card--ca span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url('./assets/icons/arrow-right\ 1.svg');
    background-position: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
} */
.plan-card--ca--month {
    border-color: #1A9AF7;
    height: auto;
    padding: 10px;
}
.recommended-month {
    background-color: var(--secondary-blue);
    position: absolute;
    width: 12rem;
    height: 3.1rem;
    border-radius: 1rem;
    color: var(--white);
    padding: 0.7rem;
    font-size: 1.2rem;
    font-family: ;
    left: calc(50% - 60px);
    top: -15px;
}
.recommended-life {
    background: linear-gradient(207.8deg, #201E1C 16.69%, #1A9AF7 100%);
}
.plan-card--price--life span {
    position: absolute;
    left: 29%;
}
.plans-container--card--life {
    background: linear-gradient(207.8deg, #201E1C 16.69%, #1A9AF7 100%);
}
.plan-card--title--life {
    color: white;
}
.plan-card--price--life {
    color: var(--white);
}
.plan-card--saving--anual h3{
    color: var(--white);
}
.plan-card--ca--anual {
    border-color: var(--white);
    color: var(--white);
}
.plan-card--saving--life {
    color: var(--white);
}    

footer {
    display: flex;
    width: 100%;
    height: 15rem;
    background-color: var(--bitcoin-orange);
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 1rem 0;
}
.left a {
    text-decoration: none;
    color: var(--white);
}
